@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased text-gray-800;
  overscroll-behavior-y: none;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-semibold;
}

.no-select {
  user-select: none;
}

.highlighted-kanji {
  background-color: rgba(255, 204, 0, 0.671); /* Subtle red background */
}

/* TipTap editor styles */
.editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor-content {
  flex-grow: 1;
  overflow-y: auto;
}

.ProseMirror {
  height: 100%;
  outline: none;
  padding: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.ProseMirror p {
  margin: 0;
}

/* Add this to your existing styles */
.ProseMirror mark {
  background-color: #fce7f3; /* This should match the color used in the setHighlight command */
  color: inherit;
}

.ProseMirror p.preserve-whitespace {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
}
