@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased text-gray-800;
  overscroll-behavior-y: none;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-semibold;
}

.resize-cursor {
  cursor: col-resize;
}

.no-select {
  user-select: none;
}
